/**
 * @file
 * Subtheme specific CSS.
 */
img {
    height: auto;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.20;
    padding: 0;
    margin: 20px 0 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}

h2.title {
    color: #0071b3;
}

a, .link {
    text-decoration: none;
}

.node--unpublished {
    background-color: rgba(178,34,34,0.60);
}

.navbar-brand {
    width: 25%;
    margin: 1rem;
}

@media (min-width: 320px) and (max-width: 992px){ 
    .navbar-brand {
        width: 100%;
        margin: 1rem;
    }
}

.field__label {
    font-weight: bold;
}

.fieldset-wrapper {
    border: 1px solid #dddddd;
    padding: 0.5em;
    margin: 20px 0 35px;
}

div#main.container {
    padding: 60px 0;
}

/* 
  Language Switcher  
*/
#block-clm-barrio-languageswitcherinterfacetext a {
    color: #fff;
}

#block-clm-barrio-languageswitcherinterfacetext a.language-link.is-active {
    font-weight: 700;
    text-transform: uppercase;
}

/* 
  Main menu  
*/
#block-clm-barrio-main-menu .navbar-nav a.nav-link {
    color: #000;
    padding: 0 11px 0 11px;
}

#block-clm-barrio-main-menu .navbar-nav a.nav-link:hover {
    background-color: transparent;
}

#block-clm-barrio-main-menu .navbar-nav li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

#block-clm-barrio-main-menu .navbar-nav li:hover:after {width: 100%;background: rgba(42,104,175,0.95);}

#block-clm-barrio-main-menu .navbar-nav a.nav-link.nav-link--.is-active,
#block-clm-barrio-main-menu .navbar-nav a.nav-link.nav-link--fr.is-active {
    color: #0071b3;
    font-weight: 700;
    text-transform: uppercase;
}

#block-clm-barrio-main-menu .navbar-nav a.nav-link.active {
    color: #0071b3;
    font-weight: 700;
    text-transform: uppercase;
}

/* 
    CSS for mt-features view
*/
.view-mt-features img {
    /* width:100%; */
    object-fit:cover;
}

/* 
    Frontpage Right Sidebar "moodleblock"
*/
img.mood.views-field-field-image {
    margin: 0 20px 20px 10px;
    float: left;
}

/* 
    CSS for mt-events view 
*/
.view-mt-events h5 {
    margin:0;
}

.views-field-field-mt-event-date-div .event-date--same-day span.day {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    /* position: absolute; */
    bottom: -4px;
    right: -2px;
    text-transform: uppercase;
    text-align: right;
    line-height: 1;
}

.views-field-field-mt-event-date-div {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #2a68af;
    /* top: 4px; */
    /* left: 0; */
}

.views-field-field-mt-event-date {
    margin: 0 10px 10px 10px;
    padding:10px;
}

.view-mt-events .view-event-wrapper .views-field-title, .view-mt-events .view-event-wrapper .views-field-body, .view-mt-events .view-event-wrapper .views-field-view-node, .view-mt-events .view-event-wrapper .event-time, .view-mt-events .more-link {
    margin-left: 95px;
}

.view-mt-events .view-event-wrapper .event-time .bi-clock {
    margin-right: 5px;
}

/* 
    CSS for Frontpage content 
    News and Announcements section
*/

#block-clm-barrio-content .views-row {
    border-bottom: 1px solid #acacac;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#block-clm-barrio-content .overlayed {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%;
    float: left;
}

#block-clm-barrio-content .views-field-field-image {
    width: 130px;
    margin: 20px 20px 20px 0;
    float: left;
}

/* 
    Footer area
*/

footer.site-footer {
    background: #055a8e;
}

footer.site-footer .nav-link {
    color: rgb(231, 231, 231); ;
}

footer.site-footer .nav-link:hover, 
footer.site-footer .nav-link:focus {
    background-color: transparent;
}

@media (min-width: 851px){
    .site-footer__top .region {
        width: 24%;
        padding: 0 0.65%;
        margin: 15px;
    }
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overlayed {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    max-width: 100%;
}

.overlayed a:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity = 0);
    background: rgba(65, 135, 209, 0.75);
    background: -moz-linear-gradient(top, rgba(65, 135, 209, 0.75) 0%, rgba(42, 104, 175, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(65, 135, 209, 0.75)), color-stop(100%, rgba(42, 104, 175, 0.75)));
    background: -webkit-linear-gradient(top, rgba(65, 135, 209, 0.75) 0%, rgba(42, 104, 175, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(65, 135, 209, 0.75) 0%, rgba(42, 104, 175, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(65, 135, 209, 0.75) 0%, rgba(42, 104, 175, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(65, 135, 209, 0.75) 0%, rgba(42, 104, 175, 0.75) 100%);
    webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity linear 0.2s;
    transition: opacity 0.2s linear;
    z-index: 2;
}

.highlight-item.views-row {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.highlighted-content-wrapper {
  position: relative;
  overflow: hidden;
}

.highlighted-content-wrapper img {
    height: auto;
    max-width: 100%;
	transition: all .2s ease-in-out;
}

.highlighted-content-wrapper:hover img {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}

.view-language-courses.view-id-language_courses.view-display-id-block_1 .highlighted-content-wrapper .title {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.view-language-courses.view-id-language_courses.view-display-id-block_1 .highlighted-content-wrapper .title a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 10px;
    display: block;
    background-color: rgba(37, 37, 37, 0.9);
}

.view-language-courses.view-id-language_courses.view-display-id-block_1 .views-field-field-image {
    border: 1px solid #e5e5e5;
}

/****Color on Title Top only****/
.view-language-courses.view-id-language_courses.view-display-id-block_1 .highlighted-content-wrapper .title {
	width:100%;
	opacity: 0.9;
	font-weight: 500;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 .overlayed.gear-thumb a:before {
	background: grey;
	opacity:0.05;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 .overlayed.gear-thumb a:hover:before {
	opacity:0;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.Arabic.Language {
    background-color: #ff7243;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.Chinese.Language {
    background-color: #B22222;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.English.Language {
    background-color: #0079c1;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.French.Language {
    background-color: #338d11;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.Russian.Language {
    background-color: #6347b2;
}
.view-language-courses.view-id-language_courses.view-display-id-block_1 a.Spanish.Language {
    background-color: #bf8124;
}
/****EOF Color on Title Top only****/

blockquote {
  font-size: 24px;
  font-style: italic;
  padding:0 0 0 150px;
  border-left: none;
  position: relative;
  margin: 40px 0 50px;
}
blockquote p {
  font-weight: 400;
  line-height: 1.44;
}
.footer-area blockquote {
  padding-left: 70px;
}

/* Blockquote quote symbol */
blockquote:after {
  position: absolute;
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
  content: "“";
  left: 45px;
  top: 0;
  color: #2a68af;
  font-style: normal;
  font-size: 160px;
  line-height: 1;
}
.footer-area blockquote:after {
  left: 0;
  font-size: 130px;
}
@media (min-width: 992px) {
  .two-sidebars blockquote {
    padding: 0 0 0 75px;
  }
  .two-sidebars blockquote:after {
    left: 0;
    font-size: 130px;
  }
}
@media (max-width: 991px) {
  .footer-area blockquote {
    padding-left: 40px;
    font-size: 18px;
  }
  .footer-area blockquote:after {
    left: 0;
    font-size: 90px;
  }
}
@media (max-width: 767px) {
  blockquote {
    padding: 0 0 0 75px;
  }
  blockquote:after {
    left: 0;
    font-size: 130px;
  }
}

.sidebar .block {
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
}

.sidebar .block .field-content, .sidebar .block p {
  padding: 5px 5px 10px 5px;
}

/* .sidebar .block h2.title:before {
    content: '\f00c';
    font-family: 'fontAwesome';
    margin-right: 5px;    
} */

.sidebar .block h2.title {
    text-transform: capitalize;
    position: relative;
    text-align: left;
    padding: 18px 18px 18px 30px;
    border-bottom: 2px solid #2989d8;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    background: #2989d8;
    margin: 0 0 10px 0;
}

.sidebar .block .more-link {
    border-bottom: none;
    margin-left: 25px;
    padding-left: 30px;
}

/* M&C and Events Node Pages*/
.css-gen-info .views-row {
  border-bottom: none;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;

}

.path-node .field--name-field-image,
.path-node .field--name-field-teaser-image {
    display: table;
    margin: auto;
    float: none;
}

.mc-node-section {
    margin: 15px 0;
    border: solid 1px whitesmoke;
}

.node-event-section.node-event-info {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
}

.mc-node-section div.field__item, 
.node-event-section.node-event-info div.field--label-hidden,
.node-event-section.node-event-info div.field--label-inline,
.node-event-section.node-event-info div#field-language-display {
    padding: 0 60px 0 75px;
    line-height: 1.20;
    margin: 20px 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.node-event-section.node-event-info .field__label, 
.node-event-section.node-event-info label {
    font-style: italic;
    font-weight: 500;
    color:#2989d8;
    text-transform: capitalize; 
}

.mc-node-section span.field--name-title,
.view-courses span.field--name-title {
    font-size: large;
    line-height: 1.20;
    margin: 20px 0 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.view-courses .item-list ul  {
    margin: 1.25em 0 0.25em 0;
}

.view-courses li.list-group-item  {
    font-size: large;
    line-height: 1.20;
    margin: 0 10px 0 10px;
    padding: 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.view-courses li.list-group-item a  {
    font-size: initial;
    line-height: 1.20;
    padding: 10px;
    font-weight: 500;
}

.mc-node-section span.field--name-title:before {
    content: '\f054';
    font-family: fontAwesome;
    margin-right: 15px;
}

.mc-node-section span.field--name-title:hover,
.view-courses span.field--name-title:hover  {
    padding-left: 5px;
    transition: all 0.2s ease-in-out;
}


h2.course-group-name-wrapper {
    font-size: 28px;
    display: block;
    background-color: rgba(42, 86, 153, .9);
    color: white;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 12px 12px 21px;
}
h2.course-group-name-wrapper a {
    color: white;
}

h2.course-group-name-wrapper:before {
    content: '\f046';
    font-family: fontAwesome;
    margin-right: 25px;
}

h2.course-desc-group-name-wrapper {
    font-size: 28px;
    display: block;
    background-color: rgba(42, 86, 153, .9);
    color: white;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px 12px 12px 21px;
}

h2.course-desc-group-name-wrapper:before {
    content: '\f05a';
    font-family: fontAwesome;
    margin-right: 25px;
}

/* M&C Dates for this Training Block */
table tr th {
    color:#2989d8;
}

/****Feed Language Schedule Node****/
.ribbon {
  /* line-height: 0.8em; */
  font-size: 1.5em;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  letter-spacing: -2px;
  display: block;
  width: 6rem;
  height: 5rem;
  background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
  color: white;
  margin: 1em 0.5em 0;
  float: none;
  padding-top: 1rem;
  position: relative;
  -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
  transform: translate3d(0, 0, 0);
}
.ribbon:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
  border-top: 1.5rem solid #CCCCCC;
  position: absolute;
  top: 5rem;
  left: 0;
}
.ribbon.ribbon--red {
  background: linear-gradient(to bottom, #d3362d 0%, #e57368 100%);
}
.ribbon.ribbon--red:after {
  border-top: 1.5rem solid #E57368;
}
.ribbon.ribbon--orange {
  background: linear-gradient(to bottom, #e7711b 0%, #f7981d 100%);
}
.ribbon.ribbon--orange:after {
  border-top: 1.5rem solid #F7981D;
}
.ribbon.ribbon--yellow {
  background: linear-gradient(to bottom, #f1ca3a 0%, #f6eb3b 100%);
}
.ribbon.ribbon--yellow:after {
  border-top: 1.5rem solid #F6EB3B;
}
.ribbon.ribbon--green {
  background: linear-gradient(to bottom, #5f9654 0%, #65b045 100%);
}
.ribbon.ribbon--green:after {
  border-top: 1.5rem solid #65B045;
}
.ribbon.ribbon--blue {
  background: linear-gradient(to bottom, #1c91c0 0%, #11a9cc 100%);
}
.ribbon.ribbon--blue:after {
  border-top: 1.5rem solid #11A9CC;
}
.ribbon.ribbon--purple {
  background: linear-gradient(to bottom, #5c3292 0%, #7e3794 100%);
}
.ribbon.ribbon--purple:after {
  border-top: 1.5rem solid #7E3794;
}

.ds-2col-stacked-fluid.node.node-feed-language-schedule.lang-not-avail-class.view-mode-teaser_title.teaser-region-content-wrapper{display: none;}
.node-type-feed-language-schedule.lang-not-avail-class .group-footer, .node-type-feed-language-schedule.lang-registration-closed .group-footer  {display: none;}
.node-type-feed-language-schedule #block-views-ccdb7d24ec55f3a0556df0868faf277c h2.title {
	position: relative;
    text-align: center;
    padding: 18px 18px 18px 18px;
    border-bottom: 2px solid #2989d8;
    font-weight: 600;
    font-size: 18px;
}
.node-type-feed-language-schedule #block-views-ccdb7d24ec55f3a0556df0868faf277c a.more.enrol-button:hover {color:#fff;}
.node-type-feed-language-schedule.lang-registration-closed #block-views-ccdb7d24ec55f3a0556df0868faf277c, 
.node-type-feed-language-schedule.lang-not-avail-class #block-views-ccdb7d24ec55f3a0556df0868faf277c {display: none;}
.node-feed-language-schedule .field-name-field-description .field-items {margin-right: 50px;}
.group-css-ribbon-node {
  position:absolute;
  right: 0;
  z-index: 1;
  overflow: hidden;
  width: 130px;
  height: 100px;
  text-align: right;
}
.lang-registration-closed .group-header {
    border: 1px solid whitesmoke;
    padding: 0 5px 0 5px;
}
.lang-registration-closed .group-css-ribbon-node {
  position:absolute;
  right: -19px;
  z-index: 1;
  overflow: hidden;
  width: 170px;
  height: 100px;
  text-align: right;	
}
.lang-registration-closed .group-css-ribbon-node span {
  font-size: 13px;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
  text-align: left;
  line-height: 20px;
  width: 180px;
  display: block;
  background: #4d4d4d;
  background: linear-gradient(#B0AFAF 0%, #4d4d4d 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position:relative;
}
.lang-registration-closed .group-css-ribbon-node span::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0px;
    bottom: -1em;
    left: -2.05em;
    pointer-events: none;
    -webkit-mask: none;
    left: auto;
    right: 10px;
    border-top: 1.0em solid #4d4d4d;
    border-right: 1.5em solid transparent;
}
.lang-avail-class .group-css-ribbon-node  span {
  font-size: 11px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 150px;
  display: block;
  background: #236127;
  background: linear-gradient(#23B02D 0%, #236127 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position:relative;
  top: 23px;
  right: -21px;
}
.lang-not-avail-class .group-css-ribbon-node  span {
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 150px;
  display: block;
  background: #F70505;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position:relative;
  top: 25px;
  right: -21px;
}
.lang-registration-closed .lang-text-status {
    display: inline-block;
    color: white;
 	background: #4d4d4d;
 	background: linear-gradient(#7f7f7f 0%, #4d4d4d 100%);
    padding: 5px 20px 5px 15px;	
}
.lang-avail-class .lang-text-status {
    display: inline-block;
    color: white;
	background: #236127;
	background: linear-gradient(#23B02D 0%, #236127 100%);
    padding: 5px 20px 5px 15px;
}
.lang-not-avail-class .lang-text-status {
    display: inline-block;
    color: white;
  	background: #F70505;
  	background: linear-gradient(#F70505 0%, #8F0808 100%);
    padding: 5px 20px 5px 15px;	
}

/*****uncomment if information icon is needed
.lang-text-status:before {
    content: '\f05a';
    font-family: fontAwesome;
    margin-right: 15px;
}*****/

.node--type-feed-language-schedule .group_feed_sched_label span {
	font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
	font-size: 15px;
    font-weight: 400;
    line-height: 1.45;
	margin-top: 0;
    white-space: nowrap;
    display: inline-block;
    color: white;
    background: rgba(42,86,153,.9);
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    padding: 5px 20px 5px 20px;
}
.node--type-feed-language-schedule .group_feed_sched_label span:before {
	content: '\f133';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field-name-field-days {
	background: #f8f8f8;
	border: 1px solid #dddddd;
	border-right-style: none;

}
.node--type-feed-language-schedule .field-name-field-days .field-items, .node--type-feed-language-schedule .field-name-field-days .field-label {
	margin-left: 5px;
}
.node--type-feed-language-schedule .field-name-field-timenow {
	background: #f8f8f8;
	border: 1px solid #dddddd;
	border-left-style: none;
}
.node--type-feed-language-schedule .field-name-field-timenow .field-items, .node--type-feed-language-schedule .field-name-field-timenow .field-label {
	margin-left: 5px;
}
.node--type-feed-language-schedule .group-right {
	padding: 32px 0 0 0;
}
.node--type-feed-language-schedule .group-footer {
	padding: 5px 0 0 0;
}
.node--type-feed-language-schedule .group-add-info-tbl {
	background:none; 
}
.node--type-feed-language-schedule .ui-state-default a {
	font-size: 19px;
}
.node--type-feed-language-schedule .fieldset-legend {
	font-size: 15px;
    font-weight: 700;
    line-height: 1.45;
    margin-top: 0;
    white-space: nowrap;
    display: inline-block;
}

.node--type-feed-language-schedule.lang-not-avail-class .field-name-field-term-duration, .node--type-feed-language-schedule.lang-not-avail-class .field-name-field-application-deadline {
	display: none;
}

.node--type-feed-language-schedule .field--name-field-format .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-format .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-format .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-term-duration .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-term-duration .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-term-duration .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-season .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field-type-taxonomy-term-reference {
	margin: 0 0 0 0;
}
.node--type-feed-language-schedule .field--name-field-season .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-season .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-time-duration .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-time-duration .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-time-duration .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-price .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-price .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-price .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-eligibility .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-eligibility .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-eligibility .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
.node--type-feed-language-schedule .field--name-field-application-deadline  .field__label {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 0;
    font-weight: bold;
}
.node--type-feed-language-schedule .field--name-field-application-deadline .field__label:before {
	content: '\f046';
    font-family: fontAwesome;
    margin-right: 15px;
}
.node--type-feed-language-schedule .field--name-field-application-deadline .field-items {
	display: inline-block;
	font-size: 15px;
	margin: 10px 0 10px 5px;
	padding-top: 0.1em;
}
/****Language Course Availability Tag****/
.node--type-feed-language-schedule.node--view-mode-teaser-title {
    position: relative;
    background-color: whitesmoke;
    padding: 0px 2px 10px 20px;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
}
.lang-title-teaser {
    width: 90%;
}
.field-name-field-season .label-inline {
    display: inline;
}
/****If border is required for each node in teaser title view mode****

.lang-avail-class {
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.lang-not-avail-class {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}
****If border is required for each node in teaser title view mode****/

.group-css-ribbon {
	position:absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 102px;
	height: 75px;
	text-align: right;
}
.lang-registration-closed .group-css-ribbon {
    position: absolute;
    right: -14px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 180px;
    height: 32px;
    text-align: right;;
}
.lang-registration-closed .group-css-ribbon  span {
    font-size: 11px;
    font-weight: 500;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    width: 140px;
    display: block;
    background: #4d4d4d;
    background: linear-gradient(#B0AFAF 0%, #4d4d4d 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: relative;
    right: -45px;
}

.lang-registration-closed .group-css-ribbon span::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0px;
    bottom: -1em;
    left: -2.05em;
    pointer-events: none;
    -webkit-mask: none;
    left: auto;
    right: 3px;
    border-top: 1.0em solid #4d4d4d;
    border-right: 1.5em solid transparent;;
}

.lang-avail-class .group-css-ribbon  span {
  font-size: 9px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 103px;
  display: block;
  background: #236127;
  background: linear-gradient(#23B02D 0%, #236127 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position:relative;
  top: 19px;
  right: -21px;
}
.lang-avail-class .group-css-ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #236127;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #236127;
}
.lang-avail-class .group-css-ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #236127;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #236127;
}

.lang-not-avail-class .group-css-ribbon  span {
  font-size: 9px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 103px;
  display: block;
  background: #F70505;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position:relative;
  top: 19px;
  right: -21px;
}
.lang-not-avail-class .group-css-ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.lang-not-avail-class .group-css-ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
/****End of Language Course Availability Tag****/

.general-courses-div {
    border: solid 1px whitesmoke; margin: 10px 0;
}

.sidebar .block .views-field-field-download-link .field-content,
.sidebar .block .views-field-field-coming-term-file .field-content {
    padding: unset;
}

/*********Thumbnail EXAMS landing page*********/
.view-id-exams_slideshow.view-display-id-block_1 .exam-content {
     margin-left: 0px;
     margin-right: 0px;
     padding: 0;
     border: 10px solid transparent;
     overflow: hidden;
     position: relative;
     text-align: center;
     -moz-backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     cursor: default;
     background: none;
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .overlay{
    border-bottom: 40px solid rgba(42, 104, 175, 0.7);
    width: 100%;
    height: 45px;
    bottom: 0;
    opacity: .90;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content:hover .overlay {
    border-bottom: 500px solid rgba(42, 104, 175, 0.7); //size must be double container
    border-left: 500px solid transparent;//size must be double container
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.view-id-exams_slideshow.view-display-id-block_1  .exam-content .initial-overlay-content a {
    font-size: 15px;
    bottom: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    -moz-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -o-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -webkit-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    -ms-transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.view-id-exams_slideshow.view-display-id-block_1  .exam-content:hover .initial-overlay-content{
    opacity: 0;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content {
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content a  {
    color: #fff;
    text-decoration: none;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content h4  {
    color: #fff;
    text-decoration: none;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content:hover .exam-overlay-content {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.view-id-exams_slideshow.view-display-id-block_1 .view-content {
	margin-left: 20%;
	margin-right: 20%;
}
@media (min-width: 1200px) {
.view-id-exams_slideshow.view-display-id-block_1 .exam-content.col-responsive { 
	width: 50%;
	float: right;}
}
@media (max-width: 549px) {
.view-id-exams_slideshow.view-display-id-block_1 { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .overlay { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content:hover .overlay { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .initial-overlay-content{ all:unset; display: none;}
.view-id-exams_slideshow.view-display-id-block_1 .exam-content:hover .initial-overlay-content{ all:unset; display: none; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content a h5  { color: #FF9900; text-decoration: none; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content .exam-overlay-content h4  { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .exam-content:hover .exam-overlay-content { all:unset; }
.view-id-exams_slideshow.view-display-id-block_1 .view-content { all:unset; }
}

/* About Us Page */
.page-node-148 .field--name-field-image {
    display: table;
    float: left;
    margin: 0 1em 0 0;
}

/****Custom General Information Topics Page****/
.view-general-info-language-view div.highlight-item.views-row {
    position:relative;
    border: 1px solid whitesmoke !important;
    height: 250px;
    margin-bottom: 0;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
}
.view-general-info-language-view .gen-info-content-inside {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 12px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/****FAQ Language Page****/
#block-clm-barrio-faqmenu .nav-link:hover, 
#block-clm-barrio-faqmenu .nav-link:focus {
    background-color: transparent;
}

#block-clm-barrio-faqmenu h2.title { border-bottom: none;}
#block-clm-barrio-faqmenu li a:before {   
    content: '\f006'; 
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #0074D9; 
}
#block-clm-barrio-faqmenu ul.menu li a {padding: 7px 0 8px 38px;} 
@media (min-width: 768px) {
    #block-clm-barrio-faqmenu { border: solid 0px whitesmoke;     margin: 0 0 20px 0;    padding: 10px 70px !important; }
    #block-clm-barrio-faqmenu div.content { display: table; margin: auto; } 
    }
@media (min-width: 992px) {
    #block-clm-barrio-faqmenu { border: solid 0px whitesmoke;     margin: 0 0 20px 0;    padding: 10px 70px !important; }
    }
.button-container {    padding: 20px;    border: solid 1px whitesmoke;    background-color: whitesmoke;}
a.more.round-button {font-size: 12px; border-radius: 25px;}